<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link rel="canonical" href="https://www.cofcointnl.com<%- path %>" />
    <meta
      name="description"
      content="COFCO International is a global agri-business, committed to responsibly source, process and distribute agri-commodities including grains, oilseeds, coffee and sugar."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- title %>" />
    <meta
      property="og:description"
      content="COFCO International is a global agri-business, committed to responsibly source, process and distribute agri-commodities including grains, oilseeds, coffee and sugar."
    />
    <meta property="og:image" content="/media/hbylddog/cofco_mt-334.jpg" />
    <meta property="og:image:url" content="/media/hbylddog/cofco_mt-334.jpg" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:url" content="https://www.cofcointnl.com<%- path %>" />
    <meta property="og:site_name" content="COFCO International" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%- title %>" />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/favicon/apple-touch-icon.png"
    />
    <link rel="shortcut icon" href="/assets/favicon/favicon.ico" />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta name="theme-color" content="#ffffff" />
    <title><%- title %> - Who we are- COFCO International</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/modules.css" />
    <link rel="stylesheet" media="print" href="/css/print.css" />
    <style>
      html {
        scroll-behavior: smooth;
      }
      .home-cta {
        margin-top: -14px;
        position: relative;
        height: calc(100vh - 120px);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("/media/aybkvzvw/cofo_sr_-hero-video-loop.jpg");
      }
      .home-cta .home-title {
        position: absolute;
        inset: 0;
        background-color: #00000090;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
      }
      .home-cta .home-title h1 {
        color: #ffffff;
        text-align: center;
        max-width: 900px;
      }
      .mod.mod-share,
      .mod.mod-follow {
        display: none !important;
      }
      h1 {
        font-size: 48px !important;
      }
      .quote_iframe {
        min-height: 523px !important;
      }
      .contact_iframe {
        min-height: 1286px !important;
      }

      @media (max-width: 768px) {
        .quote_iframe {
          min-height: 819px !important;
        }
        .contact_iframe {
          min-height: 1730px !important;
        }
      }
    </style>
  </head>
  <body>
    <div class="site">
      <%- include("./header.ejs") %> <%-body%> <%- include("./footer.ejs") %>
    </div>
    <script src="/js/script.js"></script>
    <script src="/js/vendor.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/modules.js"></script>
  </body>
</html>
