<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8" />
    <link
      rel="canonical"
      href="https://www.cofcointernational.com<%- path %>"
    />
    <meta
      name="description"
      content="COFCO International is a global agri-business, committed to responsibly source, process and distribute agri-commodities including grains, oilseeds, coffee and sugar."
    />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta property="og:locale" content="en_GB" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="<%- title %>" />
    <meta
      property="og:description"
      content="COFCO International is a global agri-business, committed to responsibly source, process and distribute agri-commodities including grains, oilseeds, coffee and sugar."
    />
    <meta
      property="og:image"
      content="https://www.cofcointernational.comhttps://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1200&amp;height=630&amp;v=1d9584197ce2b90"
    />
    <meta
      property="og:image:url"
      content="https://www.cofcointernational.comhttps://www.cofcointernational.com/media/hz3cho3k/follow-us_cofco_mt-223.jpg?rxy=0.24760032467290696,0.5082464380860892&amp;width=1200&amp;height=630&amp;v=1d9584197ce2b90"
    />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta
      property="og:url"
      content="https://www.cofcointernational.com<%- path %>"
    />
    <meta property="og:site_name" content="COFCO International" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="<%- title %>" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="https://www.cofcointernational.com/assets/favicon/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="https://www.cofcointernational.com/assets/favicon/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="https://www.cofcointernational.com/assets/favicon/favicon-16x16.png"
    />
    <link
      rel="shortcut icon"
      href="https://www.cofcointernational.com/assets/favicon/favicon.ico"
    />
    <meta name="msapplication-TileColor" content="#ffffff" />
    <meta
      name="msapplication-config"
      content="~/assets/favicon/browserconfig.xml"
    />
    <meta name="theme-color" content="#ffffff" />
    <title><%- title %> - Who we are- COFCO International</title>
    <link
      rel="stylesheet"
      href="https://www.cofcointernational.com/css/main.css?v=lAnxASXH49taM_C8hGw3wwD5V9q9U5Ab3yN5D4HpPEM"
    />
    <link
      rel="stylesheet"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
      href="https://www.cofcointernational.com/css/modules.css?v=EkWqzUY2568sfDcH_3Y6cpnbGbtVt5ECPRHWMgoA2Sg"
    />
    <link
      rel="stylesheet"
      media="print"
      href="https://www.cofcointernational.com/css/print.css"
    />
    <script
      type="text/javascript"
      async=""
      src="https://www.cofcointernational.com/assets/mtiFontTrackingCode.js"
    ></script>
    <style>
      html {
        scroll-behavior: smooth;
      }
      .home-cta {
        margin-top: -14px;
        position: relative;
        height: calc(100vh - 120px);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url("https://www.cofcointernational.com/media/aybkvzvw/cofo_sr_-hero-video-loop.jpg");
      }
      .home-cta .home-title {
        position: absolute;
        inset: 0;
        background-color: #00000090;
        padding: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 99;
      }
      .home-cta .home-title h1 {
        color: #ffffff;
        text-align: center;
        max-width: 900px;
      }
      .mod.mod-share,
      .mod.mod-follow {
        display: none !important;
      }
      h1 {
        font-size: 48px !important;
      }
    </style>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <div class="site">
      <%- include("./header.ejs") %> <%-body%> <%- include("./footer.ejs") %>
    </div>
    <script src="/js/script.js"></script>
    <script src="https://www.cofcointernational.com/js/vendor.js?v=you-2lavxT8YQF_FKoIR49e-MZoj7hMLKvbw6mGc3cs"></script>
    <script src="https://www.cofcointernational.com/js/main.js?v=7Bm-IVSP7MoJs-kNQk-eEoypzegyfqs_9haF5N-CVhY"></script>
    <script src="https://www.cofcointernational.com/js/modules.js?v=cUroe-cc3MWKOuSdm4x8pdm0zRJmnpgCyqlR5uduMro"></script>
  </body>
</html>
